@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About GymSet App</h1>

<hr />

<h6 style="text-align:center">
    <br /> <br />
    This is my exercise app, and it is really easy to use, and you can use it daily and easy access to it.
</h6>